.input-search {
  padding: 13px;
  height: auto;
  border: 0;
  border-bottom: 2px dotted $whiteColor;
  border-radius: 0px;
  width: 100% !important;

  &:hover {
    border-bottom: 2px dotted $standOutColor;
  }

  @media #{$desktop} {
    margin-right: 10px;
  }

  @media #{$mobile} {
    margin-bottom: 10px;
  }

  @media #{$tablet} {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.homepage-search {
  .btn {
    width: 100% !important;
  }
}

.calc-body {
  background: rgb(236, 238, 241);
  padding: 60px;
  .title {
    font-weight: bold;
    font-family: Avenir, -apple-system, system-ui, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
}
@media #{$mobile} {
  .green-bgnd {
    position: inherit;
    background: green;
    font-size: 90px;
    color: white;
    text-align: center;
  }
}
@media #{$desktop} {
  .green-bgnd {
    position: absolute;
    background: green;
    font-size: 90px;
    color: white;
    text-align: center;
  }
}
.green-bgnd {
  background: green;
  font-size: 90px;
  color: white;
  text-align: center;
}
.calculation {
}
ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoRss:hover {
  background-color: #f56505;
}
.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}
.social-network a.icoTwitter:hover {
  background-color: #33ccff;
}
.social-network a.icoGoogle:hover {
  background-color: #bd3518;
}
.social-network a.icoVimeo:hover {
  background-color: #0590b8;
}
.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}
.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}
a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}
.social-icons {
  margin-top: 50px;
}
.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: #000000;
}
.social-circle li i {
  margin: 0;
  line-height: 50px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: #fff;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}
.total-bk {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 0) 0%,
    rgba(101, 181, 67, 1) 100%
  );
  .title {
    font-weight: bold;
    font-family: Avenir, -apple-system, system-ui, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 30px;
    margin-top: 62px;
    margin-bottom: 26px;
  }
  .content {
    color: white;
    font-weight: 900;
    font-family: Avenir, -apple-system, system-ui, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 60px;
    text-align: center;
  }
}
.faq-accordion-content {
  .card {
    border: 0;
    .card-header {
      background: white;
      a {
        color: black;
        p {
          padding: 0px 50px 0px 50px;
        }
      }
    }
    .card-body {
      padding: 10px 70px 10px 70px;
    }
  }
}
.faq-content {
  font-family: Avenir, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  padding: 0px;
  .title {
    font-weight: 900;
    padding: 40px 70px 10px 70px;
  }
}

.accordion-item {
  i {
    position: absolute;
    right: 20px;
  }
}
